:root{
    --vermelho: #3bff0af3;
    --preta: #141414;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*elementos base*/
body{
background: var(--preta);
 font-family:'Times New Roman', Times, serif ;
 color: white;
}

header .container{
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
}
header .logo{
    margin-left: 5px;
    color: var(--vermelho);
    font-family: "Aria black",times;
    font-size: 40px;
    
}
header nav a{
    text-decoration: none;
    color: #aaa;
    margin-right: 10px;
    animation: 3s ease all;
}

header nav a:hover {
    color: #fff;

}
 /* coisas relacionadas a filmes principal*/

.filme-principal {
background:linear-gradient(rgba(0,0,0,.50),rgba(0,0,0, .50)100%), url(../img/ryu-ken.gif);
   font-size: 16px;
    height: 400px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
} 
.filme .descricao{
    margin-bottom: 30px;
    margin-top: 2%;
 
}
.titulo{
    margin-top: 15%;
    font-size: 40px;
    font-family:  'Trebuchet MS', 'Lucida Sans Unicode',;

}

.botao{
    
    background-color: rgba(0, 0, 0, .10);
    border: none;
    color: white;

    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
cursor: pointer;
transition:  3s ease all;
}
.botao :hover{
 background-color: white;
 color: black;
    
}
.botao i{
    margin-right: 15px;
}

.box-filem{
    height: 100%;
    width: 100%;
    display: block;
 
  
}

.item a{
    font-family: "Aria black",times;;
    color:yellowgreen;
    text-decoration: none;
    font-size: 25px;
padding-left: 55px;

}
.item a:hover{
background-image: url(../img/chuva.gif);
animation: 0s ease all;
height: 100px;
width: 100px;
border-radius: 100px;
}